# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
setAdmin.cjs
service-account.json
functions/lib/index.js
functions/lib/index.js.map
functions/lib/types.js
functions/lib/types.js.map
functions/package-lock.json
App copy 2.tsx
App copy.tsx
components/MyRoomPage copy.tsx
*.html
components/AdminDashboard copy.tsx
types copy.ts
services/firebaseService copy.ts
functions/src/index copy.ts
components/BlogPage copy.tsx
components/ArticleEditor copy.tsx
echo "functions/.env" >> .gitignore
functions/.env
functions/lib/functions/src/index.js
functions/lib/functions/src/index.js.map
functions/lib/functions/src/types.js
functions/lib/functions/src/types.js.map
functions/lib/types/types.js
functions/lib/types/types.js.map
/functions/lib
functions/src/listingService copy.ts
.next/app-build-manifest.json
.next/build-manifest.json
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/1.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz.old
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/10.pack.gz
.next/cache/webpack/client-development/11.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/11.pack.gz
.next/cache/webpack/server-development/12.pack.gz
.next/cache/webpack/server-development/13.pack.gz
.next/cache/webpack/server-development/14.pack.gz
.next/cache/webpack/server-development/15.pack.gz
.next/cache/webpack/server-development/16.pack.gz
.next/cache/webpack/server-development/17.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/package.json
.next/react-loadable-manifest.json
.next/server/app-paths-manifest.json
.next/server/app/page.js
.next/server/app/page_client-reference-manifest.js
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/vendor-chunks/@firebase.js
.next/server/vendor-chunks/@grpc.js
.next/server/vendor-chunks/@opentelemetry.js
.next/server/vendor-chunks/@protobufjs.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/firebase.js
.next/server/vendor-chunks/framer-motion.js
.next/server/vendor-chunks/idb.js
.next/server/vendor-chunks/lodash.camelcase.js
.next/server/vendor-chunks/long.js
.next/server/vendor-chunks/motion-dom.js
.next/server/vendor-chunks/motion-utils.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/protobufjs.js
.next/server/vendor-chunks/tslib.js
.next/server/webpack-runtime.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/chunks/main-app.js
.next/static/chunks/polyfills.js
.next/static/chunks/webpack.js
.next/static/css/app/layout.css
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/0ab56aae8cf76709-s.woff2
.next/static/media/1ce1ffaf105af326-s.woff2
.next/static/media/2b74019ebf7a71b9-s.woff2
.next/static/media/2f6258ffdaf4644f-s.p.woff2
.next/static/media/33387a3e1220e613-s.woff2
.next/static/media/381ef99eada06d71-s.p.woff2
.next/static/media/3c365cdafe49b4eb-s.p.woff2
.next/static/media/3d2d27a4cad47329-s.p.woff2
.next/static/media/4642fe567cc45cd6-s.p.woff2
.next/static/media/5084e176e02368e5-s.woff2
.next/static/media/55190bc973e13381-s.p.woff2
.next/static/media/5ba6339fa8c3ef7b-s.woff2
.next/static/media/70c6212c0873ede2-s.woff2
.next/static/media/7510f746b21ae7c3-s.woff2
.next/static/media/8d0ffaba4bd77024-s.woff2
.next/static/media/96ad5eed80b1484c-s.woff2
.next/static/media/a1a058a3e6543db0-s.p.woff2
.next/static/media/cc9a5f10ece852e7-s.p.woff2
.next/static/media/cdca6fff670edd4c-s.woff2
.next/static/media/d536ec48f0acd73b-s.p.woff2
.next/static/media/e9fcf2a736cc2865-s.p.woff2
.next/static/media/efb1d0d3266e2361-s.woff2
.next/static/media/f33c62bdbd09f5b8-s.p.woff2
.next/static/media/f8092a6a9ad7a44c-s.p.woff2
.next/static/webpack/633457081244afec._.hot-update.json
.next/trace
.next/types/app/layout.ts
.next/types/app/page.ts
.next/types/package.json
.next/static/webpack/01f58bac41d0f04d.webpack.hot-update.json
.next/static/webpack/13a51e0b96cddad2.webpack.hot-update.json
.next/static/webpack/35335711fd490c65.webpack.hot-update.json
.next/static/webpack/5c06b1f08085d8ee.webpack.hot-update.json
.next/static/webpack/app/layout.01f58bac41d0f04d.hot-update.js
.next/static/webpack/app/layout.13a51e0b96cddad2.hot-update.js
.next/static/webpack/app/layout.35335711fd490c65.hot-update.js
.next/static/webpack/app/layout.5c06b1f08085d8ee.hot-update.js
.next/static/webpack/webpack.01f58bac41d0f04d.hot-update.js
.next/static/webpack/webpack.13a51e0b96cddad2.hot-update.js
.next/static/webpack/webpack.35335711fd490c65.hot-update.js
.next/static/webpack/webpack.5c06b1f08085d8ee.hot-update.js
